
<div class="row">
  <div class="item-input">
    {{input value=newItem placeholder="Enter a New To-Do Item"}}
    <span class="item-create glyphicon glyphicon-floppy-disk item-save" {{action "saveNewItem" newItem}}></span>
  </div>
  {{errorMessage}}
</div>
  {{#each item in todoItems}}
  <div class="row">
    <div class="item">
      <span {{action "toggleComplete" item}} {{bind-attr class=":glyphicon item.is_completed:glyphicon-check:glyphicon-unchecked :item-complete"}}></span>
      <span {{bind-attr class="item.is_completed:strikethrough"}}>{{item.title}}</span>
      <span {{action "itemDelete" item}} {{bind-attr class=":glyphicon :glyphicon-remove :item-remove item.is_completed::invisible"}}></span>
    </div>
  </div>
  {{/each}}
  <div class="item">{{newItem}}</div>
